.PlayBodyClass #main {
  position: absolute;
  top: 80px;
  bottom: 0px;
}

.PlayBodyClass #submain {
  position: relative;
  height: 100%;
}

#topcol {
  position: absolute;
  height: 70%;
  top: 0px;
  width: 100%;
}

#leftcol {
  height: 100%;
  left: 0px;
  width: 100%;
}

#bottomcol {
  position: absolute;
  height: 30%;
  bottom: 0px;
  width: 100%;
  background: #EED;
}

#bottomcol_topedge {
  position: absolute;
  width: 100%;
  left: 0px;
  top: -1px;
  height: 1px;
  background: #DDB;
}

#eventboxpane {
  height: 100%;
  background: #F4F4E4;
}

#eventpane {
  position: absolute;
  top: 10px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: scroll;
  overflow-x: hidden;
  background: #EED;
}

#leftcol .ui-resizable-e {
  cursor: crosshair;
  width: 10px;
}

#topcol .ui-resizable-s {
  cursor: crosshair;
  height: 10px;
  bottom: -10px;
}

.ui-resizable-handle {
  -moz-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.ui-resizable-handle:hover {
  background: #BBB;
  -moz-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.ui-resizable-s > .ResizingThumb {
  position: relative;
  top: 4px;
  width: 12%;
  height: 0px;
  margin: auto;
  background: none;
  border-top: 1px dashed #C0C0B0;
  border-bottom: 1px dashed #FFD;
  z-index: -1;
}

.ui-resizable-e > .ResizingThumb {
  position: relative;
  left: 4px;
  top: 40px;
  height: 60px;
  width: 0px;
  background: none;
  border-left: 1px dashed #CCB;
  border-right: 1px dashed #EEC;
  z-index: -1;
}

#rightcol a {
  text-decoration: none;
  color: #A30; /* inherit? */
}

#rightcol a:hover {
  text-decoration: underline;
  color: #A30;
}

.StyleEmph {
  font-style: italic;
}

.StyleFixed {
  font-family: monospace;
}

.FocusPane {
  /* display: none; */
  /* background: #FFFFF4; */
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 80%;
  overflow: auto;
}

.FocusPane p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-indent: 1.5em;
}

.FocusPane a {
  color: #A30; /* inherit? */
}

#eventpane a {
  text-decoration: none;
  color: #A30; /* inherit? */
}

#eventpane a:hover {
  text-decoration: underline;
  color: #A30;
}

#localepane a.ExternalLink {
  color: #00F;
  background-color: inherit;
}

.FocusPane a.ExternalLink {
  color: #00F;
  background-color: inherit;
}

.Event {
  clear: both;
  margin: 0px 20px;
}

.Event:first-child {
  margin-top: 1em;
}

.EventError {
  font-style: italic;
  color: #800;
}

.EventMessage {
  font-style: italic;
}

.EventEchoInput {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

#rightcol .Event {
  font-size: 0.8em;
}

.Event .TimeStamp {
  position: relative;
  float: right;
  color: #888;
  font-size: 0.8em;
  font-style: normal;
}

.TimeStamp .TimeLabel {
  display: none;
  position: absolute;
  right: 1em;
  width: 12em;
  text-align: right;
}

.TimeLabel span {
  background: #EED;
}

.TimeStamp:hover .TimeLabel {
  display: block;
}

.Input {
  position: relative;
  margin: 0px 20px 20px 20px;

  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}

.InputFrame {
  margin: 0px 0px 0px 1em;
}

.InputPrompt {
  position: absolute;
}

.Input:first-child {
  margin-top: 1em;
}

.Input input {
  display: block;
  width: 100%;

  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25em;

  border: none;
  margin: 0px;
  padding: 0px;
  outline-width: 0px;
  outline-style: none;
  background: none;
}

.FocusOutline {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #BBB;
  border-radius: 8px;
  background: #EED;
}

.FocusCornerControl {
  float: right;
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-weight: 100;
  background: #D2D2B6;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #AAA;
  margin-left: 20px;
  padding: 0.25em 0.75em;
}

/* Styles that apply to special content in the focus pane. (For example,
   self-description editing.)
*/

.FocusSection {
  margin: 15px 20px;
  color: #666;
}

.FocusInput {
  background: #FFFFF4;
  width: 100%;
  margin: 0px;
  border: 1px solid #CCC;
  padding: 4px 0px;
  font-family: inherit;
  font-size: 1em;
  border-radius: 3px;
  text-indent: 10px;
}

.FocusSelect {
  font-size: 1.0em;
}

.FocusDivider {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #BBB;
  border-bottom: 1px solid white;
  height: 1px;
}

.FocusButtonBar {
  text-align: right;
  margin-right: 20px;
}

.FocusButtonLarge {
  font-size: 1.0em;
}

.FocusPlistList {
  list-style: none;
}

.FocusPlistPortal {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}

.FocusPlistGloss {
  font-style: italic;
  font-size: 0.8em;
}

.FocusListDelButton {
  display: inline-block;
  color: #F00;
  background: #FCC;
  font-size: 0.8em;
  line-height: 1.0em;
  margin: 0px;
  padding: 2px 0px;
  width: 1.2em;
  height: 1.0em;
}
